#header-style1 .nav li a:hover,#header-style1 .nav li a:focus,.upload-user-personal-info p span,.upload-user-personal-info .sign:hover{
	color:#ff4d58;
}
#header-style1 .nav li a:hover{
	border-color:#ff4d58;
}
.banner-category .cat,.pagination-circle .fa,.load-tabs li:hover,.load-tabs .active,.theme-button:hover,.video-subscribe-channel:hover,.overlay-hugeinc div ul li .fa:hover,.feature-image .upload-video:hover{
	background:#ff4d58;
}
.small-title h2 a:hover,.small-title h2 a:focus,.blog-content h3 a:hover,.pages-links li a:hover,.pagination-circle button:hover{
	color:#ff4d58;
}
.image-content h3 a:hover,.blog-thumbnail-details h3 a:hover,.top-channale-thumbnail-details h3 a:hover,.cat-widget h4 a:hover,
.latest-videos-post h4 a:hover{
color:#ff4d58;
}
.grid-style-popular-post .carousel-control.left:hover, .grid-style-popular-post .carousel-control.right:hover{
color:#ff4d58;
opacity:1;
}
.channel-page-sorting  .load-tabs li a:hover,.channel-page-sorting  .load-tabs li a:hover  .f-count,.channel-page-sorting .load-tabs .active a,.channel-page-sorting .load-tabs .active a .f-count{
border-color:#ff4d58;
	color:#ff4d58;
}
.main-video-container-content h1 a:hover,.post-detail-social-information a:hover,.blog-detail-social-information a .fa:hover,
.blog-tags a:hover,.comments-replay a:hover,.grid-style-popular-post .slick-prev:hover,.grid-style-popular-post .slick-next:hover,.tip-on-hover h3 a:hover{
color:#ff4d58;
}
.report-form .submit-report,.lp-secondary-btn{
background:#ff4d58;
}

.cat-widget li:hover h4 a,.bottom-links a{
color:#ff4d58;
}

#main-slider-section #header-style1 .nav  .dropdown-menu li a{
	color:#ccc !important;
}
.upload-video,.user-btn:hover,.about-tab-info form .submit:hover{
background:#ff4d58;
}
a:focus{
	color:inherit;
}
.hidden-menue ul li a:hover,.hidden-menue2 ul li a:hover,.hidden-menue2 .active a{
color:#ff4d58 !important;
}