<div class="upload-videos background-color-gray padding-top-50 padding-bottom-50 ">
		<div class="container">
				<div class="main-video-container">
					<div class="video-player-main" id="player">
					<iframe height="585" src="https://www.youtube.com/embed/<%=youtubeId(data.data.postMeta.videoUrl)%>?controls=1&amp;showinfo=0"></iframe>

					</div>

				</div>
				<div class="main-video-container-content">
					<div class="banner-category"><a href="#" class="cat"><%=data.data.campaignCategory.name%></a></div>
					<h1><%=data.data.postMeta.title%></h1>
					<div class="post-detail-metas background-color-white clearfix">
						<div class="post-meta-image pull-left">
							<div class="video-uploder-person-image">
									<img src="images/post-image.jpg" alt="" width="34" height="34">
							</div>
							<div class="post-meta-information">
								<p><%=data.data.author.name%><i class="fa fa-check-circle-o"></i></p>
								<a href="login.html" class="video-subscribe-channel">Subscribe</a>
								<p>2 hours ago</p>
							</div>

						</div>


					</div>
					<p class="post-content">liquam ligula enim, rutrum sed tempus quis, auctor in sem. Nullam a lobortis mauris, sit amet varius magna. Ut efficitur non nibh at faucibus. Nullam nec arcu eu nulla ultrices auctor vel sit amet nisl. Vestibulum nec imperdiet nisl, non molestie dolor. Quisque id pretium dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque dapibus est in interdum tempor. Morbi lobortis faucibus semper.</p>

				</div>




		</div>


	 </div>
