<div class="upload-videos background-color-gray padding-top-50 padding-bottom-50 ">
		<div class="container">
				<div class="main-video-container">
					<div class="video-player-main" id="player">
					<iframe height="585" src="https://www.youtube.com/embed/<%=youtubeId(data.data.postMeta.videoUrl)%>?controls=1&amp;showinfo=0"></iframe>

					</div>

				</div>
				<div class="main-video-container-content">
					<div class="banner-category"><a href="#" class="cat"><%=data.data.campaignCategory.name%></a></div>
					<h1><%=data.data.postMeta.title%></h1>
		</div>


	 </div>
