<div class="col-md-12" id="merchantRow">
    <div class="form-group">
        <label>Merchant Selection</label>
        <select ui-jq="select2" ui-options="" class="form-control" id="merchantSelect" required name="merchant"></select>
    </div>
</div>
