<div class="banner-style4 background-color-gray padding-top-50 padding-bottom-50">
		<div class="container">
			<div class="blue">
				  <div class="slider slider-for slick-initialized slick-slider">
					<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 5700px;"><div class="banner-image-container slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide60" style="width: 1140px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
						<img src="images/aaa.jpg" alt="" class="img-responsive">
						<div class="slider-over-opacity"></div>
						<div class="banner-stye2-content">
								<div class="clearfix">


											<div class="banner-content-details pull-left">

												<div class="banner-category"><a href="categorymain.html" class="cat" tabindex="0">movies</a><a href="categorymain.html" class="cat" tabindex="0">Entertainment</a></div>
												<h2><a href="detailpage.html" class="banner-big-title" tabindex="0">The Splintered Dragon</a></h2>
												<a href="" class="posted-by" tabindex="0"><span>Februar y 24, 2016</span>  by: Randy Rayan </a>
											</div>
								</div>

						</div>
					</div><div class="banner-image-container slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide61" style="width: 1140px; position: relative; left: -1140px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease;">
						<img src="images/aaa2.jpg" alt="">
						<div class="slider-over-opacity"></div>

						<div class="banner-stye2-content">
								<div class="clearfix">


											<div class="banner-content-details pull-left">

												<div class="banner-category"><a href="categorymain.html" class="cat" tabindex="-1">movies</a><a href="categorymain.html" class="cat" tabindex="-1">Entertainment</a></div>
												<h2><a href="detailpage.html" class="banner-big-title" tabindex="-1">The Name of the Stars</a></h2>
												<a href="" class="posted-by" tabindex="-1"><span>Februar y 24, 2016</span>  by: Randy Rayan </a>
											</div>
								</div>

						</div>
					</div><div class="banner-image-container slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide62" style="width: 1140px; position: relative; left: -2280px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease;">
						<img src="images/aaa3.jpg" alt="">
						<div class="slider-over-opacity"></div>

						<div class="banner-stye2-content">
								<div class="clearfix">


											<div class="banner-content-details pull-left">

												<div class="banner-category"><a href="categorymain.html" class="cat" tabindex="-1">movies</a><a href="categorymain.html" class="cat" tabindex="-1">Entertainment</a></div>
												<h2><a href="detailpage.html" class="banner-big-title" tabindex="-1">The Spirits's Bride</a></h2>
												<a href="" class="posted-by" tabindex="-1"><span>Februar y 24, 2016</span>  by: Randy Rayan </a>
											</div>
								</div>

						</div>
					</div><div class="banner-image-container slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide63" style="width: 1140px; position: relative; left: -3420px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease;">
						<img src="images/aaa4.jpg" alt="">
						<div class="slider-over-opacity"></div>

						<div class="banner-stye2-content">
								<div class="clearfix">


											<div class="banner-content-details pull-left">

												<div class="banner-category"><a href="categorymain.html" class="cat" tabindex="-1">movies</a><a href="categorymain.html" class="cat" tabindex="-1">Entertainment</a></div>
												<h2><a href="detailpage.html" class="banner-big-title" tabindex="-1">The Spark of the Heat</a></h2>
												<a href="" class="posted-by" tabindex="-1"><span>Februar y 24, 2016</span>  by: Randy Rayan </a>
											</div>
								</div>

						</div>
					</div><div class="banner-image-container slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide64" style="width: 1140px; position: relative; left: -4560px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease;">
						<img src="images/aaa5.jpg" alt="">
						<div class="slider-over-opacity"></div>

						<div class="banner-stye2-content">
								<div class="clearfix">


											<div class="banner-content-details pull-left">

												<div class="banner-category"><a href="categorymain.html" class="cat" tabindex="-1">movies</a><a href="categorymain.html" class="cat" tabindex="-1">Entertainment</a></div>
												<h2><a href="detailpage.html" class="banner-big-title" tabindex="-1">Waves in the Spirits</a></h2>
												<a href="" class="posted-by" tabindex="-1"><span>Februar y 24, 2016</span>  by: Randy Rayan </a>
											</div>
								</div>

						</div>
					</div></div></div>




				  </div>
				  <div class="slider slider-nav slick-initialized slick-slider">
					<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 200px; left: 0px;"><div class="cmn-t-underline slick-slide slick-active slick-current" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide70" style="width: 40px;"><p>01 <span>The Splintered Dragon</span></p></div><div class="cmn-t-underline slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide71" style="width: 40px;"><p>02 <span>The Name of the Stars</span></p></div><div class="cmn-t-underline slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide72" style="width: 40px;"><p>03 <span>The Spirits's Bride</span></p></div><div class="cmn-t-underline slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide73" style="width: 40px;"><p>04 <span>The Spark of the Heat</span></p></div><div class="cmn-t-underline slick-slide slick-active" data-slick-index="4" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide74" style="width: 40px;"><p>05 <span>Waves in the Spirits</span></p></div></div></div>
				  </div>

			</div>

        </div>



	 </div>
