
  <!--footer=============================-->
  <div class="footer">
   <div class="footer-social text-center">
     <a href=""><i class="fa fa-facebook face"></i></a>
     <a href=""><i class="fa fa-twitter twit"></i></a>
     <a href=""><i class="fa fa-google gplus"></i></a>
     <a href=""><i class="fa fa-linkedin inst"></i></a>
   </div>
   <div class="instagram-images clearfix">
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/1.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/2.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/3.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/4.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/5.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/6.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/7.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/8.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/9.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/10.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/11.jpg" alt=""/></a>
     </div>
     <div class="col-md-1 col-sm-1 col-xs-12 padding-0">
       <a href=""><img src="images/flicker/12.jpg" alt=""/></a>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="aboutus-widget widgets">
           <div class="footer-widget-title">
             <h3>About Videofy</h3>
           </div>
           <p>Maecenas varius finibus orci vel dignissim. Nam posuere, magna pellentesque accumsan tincid unt, libero lorem con vallis lectus amet.vitae elit interdum sagittis eget a leo. Aenean et mauris massa vitae elit interdum sagittis.</p>
         </div>
       </div>
       <div class="col-md-4 col-sm-4 col-xs-12">
         <div class="widgets">

           <div class="footer-logo">
             <a href=""><img src="images/ftlogo.png" alt="" /></a>
           </div>
         </div>
       </div>
       <div class="col-md-2 col-sm-2 col-xs-12">
         <div class="widgets">
           <div class="footer-widget-title">
             <h3>quick links</h3>
           </div>
           <div class="pages-links">
             <ul>
               <li><a href="">About</a></li>
               <li><a href="">blog</a></li>
               <li><a href="">join</a></li>
               <li><a href="">privacy policy</a></li>
               <li><a href="">contact</a></li>

             </ul>

           </div>
         </div>
       </div>
       <div class="col-md-2 col-sm-2 col-xs-12">
         <div class="widgets app-logos">
           <a href=""><img src="images/l1.png" alt="" /></a>
           <a href=""><img src="images/l2.png" alt="" /></a>
           <a href=""><img src="images/l3.png" alt="" /></a>
         </div>
       </div>
     </div>

   </div>
   <div class="copyright">
     <div class="container clearfix">
       <div class="pull-left">
         <p>Videofy © 2016 All Rights Reserved <span>Terms of Use</span> and <span>Privacy Policy</span></p>
       </div>
       <div class="pull-right">
         <p>Powered by Wordpress</p>
       </div>
     </div>

   </div>
  </div>

</html>
