<!--footer=============================-->
<div class="footer">
    <div class="footer-social text-center">
        <a href=""><i class="fa fa-facebook face"></i></a>
        <a href=""><i class="fa fa-twitter twit"></i></a>
        <a href=""><i class="fa fa-google gplus"></i></a>
        <a href=""><i class="fa fa-linkedin inst"></i></a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="aboutus-widget widgets">
                    <div class="footer-widget-title">
                        <h3>Tentang Progresif.tv</h3>
                    </div>
                    <p>adalah mata air kearifan berupa saluran TV yang menyajikan video-video ceramah, kajian keislaman berbasis kitab kuning, berita-berita keislaman, semi dokumenter dan tanya jawab keislaman keseharian yang disiarkan secara langsung maupun video on demand. Anda dapat menikmati mata air kearifan dari ulama-ulama Nusantara dan mancanegara maupun dari ustadz-ustadz pesantren yang luas keilmuannya, sejuk, damai, dan berpandangan progresif.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widgets">

                    <div class="footer-logo">
                        <a href=""><img src="http://res.cloudinary.com/oddro/image/upload/v1492411838/logo2_ddcv5g.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widgets">
                    <div class="footer-widget-title">
                        <h3>quick links</h3>
                    </div>
                    <div class="pages-links">
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">blog</a></li>
                            <li><a href="">join</a></li>
                            <li><a href="">privacy policy</a></li>
                            <li><a href="">contact</a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widgets app-logos">
                    <a href=""><img src="images/l1.png" alt="" /></a>
                    <a href=""><img src="images/l2.png" alt="" /></a>
                    <a href=""><img src="images/l3.png" alt="" /></a>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright">
        <div class="container clearfix">
            <div class="pull-left">
                <p>Videofy © 2016 All Rights Reserved <span>Terms of Use</span> and <span>Privacy Policy</span></p>
            </div>
            <div class="pull-right">
                <p>Powered by Wordpress</p>
            </div>
        </div>

    </div>
</div>
<script src="/backend/js/overide/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="/backend/js/overide/slick.js"></script>
<script>
    $(document).ready(function() {
        "use strict";



        $('[data-toggle="tooltip"]').tooltip({
            placement: "left"
        });

    });
</script>

</html>
