<div id="header-style1" style="border-bottom: 1px solid #ccc;">

    		<div class="wrapper">

    			<div class="container">

    				<nav role="navigation" class="navbar plain">
    					<div class="navbar-header">
    						<button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
    							<i class="fa fa-bars"></i>
    						</button>

    						</div>

    					<div id="navbar-collapse-02" class="collapse navbar-collapse">
    						<ul class="nav navbar-nav navbar-left">
    							<li class="propClone"><a href="/channel/categories/590217c365a85319f20e994a"> <i class="fa fa-film"></i> Ceramah</a></li>
    							<li class="propClone"><a href="/channel/categories/592abfdef4c6e42c350f6c9b"><i class="fa fa-film"></i> Kajian</a></li>
    							<li class="propClone"><a href="/channel/categories/59089fba40f4841f308a7328"><i class="fa fa-film"></i> Tanya Jawab</a></li>
    							<li class="propClone"><a href="/channel/categories/592ac00bf4c6e42c350f6c9c"><i class="fa fa-film"></i> Dokumenter</a></li>


    						</ul>
    					</div><!-- /.navbar-collapse -->
    				</nav>

    			</div><!-- /.container -->

    		</div><!-- /.wrpaper -->
    	</div>
