<div id="top-bar-style1" class="catgroy-main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="theme-logo">
          <a href="/"><img src="http://res.cloudinary.com/oddro/image/upload/v1493360149/unnamed_s82tzs.png" alt=""/></a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-right">

      </div>
    </div>
  </div>
  </div><!-- /.item -->
