<tr>
  <td align="center" class="footer" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%; padding-top: 20px; padding-bottom: 20px; color: #999999; font-family: sans-serif;" valign="top">Email ini ditujukan hanya untuk <%= context.data.username %> Karena anda telah melakukan pendaftaran di <%= config.name%>. <!-- ANALYTICS -->
   <!-- http://www.google-analytics.com/collect?v=1&tid={{UA-Tracking-ID}}&cid={{Client-ID}}&t=event&ec=email&ea=open&cs={{Campaign-Source}}&cm=email&cn={{Campaign-Name}} -->
   <img border="0" height="1" hspace="0" src="https://raw.githubusercontent.com/konsav/email-templates/master/images/tracker.png" style="margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;" vspace="0" width="1"></td>
</tr><!-- End of WRAPPER -->
