<tr>
  <td align="center" class="social-icons" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; padding-top: 25px;" valign="top">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0;" width="256">
      <tr>
        <!-- ICON 1 -->
        <td align="center" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;" valign="middle">
          <a href="%3C%=config.social.facebook%%3E" style="text-decoration: none;" target="_blank"><img alt="F" border="0" height="44" hspace="0" src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block; color: #000000;" title="Facebook" vspace="0" width="44"></a>
        </td><!-- ICON 2 -->
        <td align="center" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;" valign="middle">
          <a href="%3C%=config.social.twitter%%3E" style="text-decoration: none;" target="_blank"><img alt="T" border="0" height="44" hspace="0" src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/twitter.png" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block; color: #000000;" title="Twitter" vspace="0" width="44"></a>
        </td><!-- ICON 3 -->
        <td align="center" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;" valign="middle">
          <a href="%3C%=config.social.youtube%%3E" style="text-decoration: none;" target="_blank"><img alt="G" border="0" height="44" hspace="0" src="http://res.cloudinary.com/oddro/image/upload/v1490442085/1490460067_youtube_zdub74.png" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block; color: #000000;" title="Youtube" vspace="0" width="44"></a>
        </td><!-- ICON 4 -->
        <td align="center" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;" valign="middle">
          <a href="%3C%=config.social.youtube%%3E" style="text-decoration: none;" target="_blank"><img alt="I" border="0" height="44" hspace="0" src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block; color: #000000;" title="Instagram" vspace="0" width="44"></a>
        </td>
      </tr>
    </table>
  </td>
</tr><!-- FOOTER -->
